{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "Blog/post-detail.css" %}">
{% endblock css_file %}

{% block content %}
<section id="summary">
  <h2>{{ post.title }}</h2>
  <article>
    <img src="{% static "Blog/images/"|add:post.image_name %}" alt="{{ post.title }}"/>
    <address> By Aasis</address>
    <div>
      Last Updated on <time>{{ post.date|date:"d M Y" }}</time>
    </div>
  </article>
</section>
<main>
  {{ post.content|linebreaks }}
</main>
{% endblock content %}
